.container
{
    width:1500px;
    height:1300px;
    background-color: whitesmoke;
    border: 4px black solid;
    box-sizing: border-box;
}
.firstblock
{
    display: inline-block;
    width:320px;
    height:800px;
    background-color: rgb(187, 236, 138);
    top:30px;
    position: relative;
}
.secondblock
{
    display: inline-block;
    width: 750px;
    height:1000px;
    background-color: rgb(235, 204, 204);
    position: relative;
}
.firstpart
{
    display: inline-block;
    width: 740px;
    height:500px;
    background-color: rgb(173, 233, 199);
    position: relative;
}
.secondpart
{
    display: inline-block;
    width:740px;
    height:500px;
    background-color: rgb(241, 225, 203);
    position: relative;
}
.part1
{
    display: inline-block;
    width:50%;
    height:500px;
    background-color: rgb(171, 241, 234);
}
.part2
{
    display: inline-block;
    width:50%;
    height:450px;
    background-color:rgb(248, 248, 186);
    float:right;
    
}    
.thirdblock{
display: inline-block;
width:380px;
height:1000px;
background-color: rgb(168, 236, 238);
position: relative;
float: right;
}
.part3
{
    display: inline-block;
    width: 380px;
    height:500px;
    background-color: rgb(233, 192, 176);
    position: relative;

}
.part4
{
    display: inline-block;
    width: 380px;
    height:500px;
    background-color: rgb(211, 173, 211);
    position: relative;
}
.part5
{
    display: inline-block;
    width: 320px;
    height:400px;
    background-color: rgb(233, 156, 156);
    position: relative;
}
.part6
{
    display: inline-block;
    width:320px;
    height:400px;
    background-color: rgb(185, 177, 171);
    position: relative;
}
.hindustan
{
    display: inline-block;

}
.times
{
    display: inline-block;
}
.signin
{
    display: inline-block;
}
.datetime
{
    display: inline-block;
    float: right;
    top:30px;
}
.date{
    display: inline-block;
}
.line
{
    border:2px rgb(54, 218, 247) solid;
}
.line1
{
    border: 3px black solid;
}
.search
{
    right:30px;
}