
*
{
    font-family: sans;
    background-image: url("C:\Users\nEW u\Desktop/download.jpg");
}
.container
  {
    width:1400px;
    height:1200px;
    border:4px black solid;
    align-self: center;
    box-sizing: border-box;
    background-image: url("download.jpg");
}
.header
{
    width:1400px;
    height:120px;
    border:1px black solid;
    box-sizing: border-box;
    
}
.logoblock
{
    width:1100px;
    height:210px;
    border:4px black solid;
    box-sizing: border-box;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    position: relative;
    left:110px;
   
}
.contentlock
{
    width:1400px;
    height:800px;
    border:4px black solid;
    box-sizing: border-box;
    
}
.lastspace
{
    width:1400px;
    height:50px;
    border:4px black solid;
    box-sizing: border-box;
    top:112px;
    
}
.logo
{   width:100px;
    height:100px;
    background-color: blanchedalmond;
    display: inline-block; 
    border-radius: 20px;   
    position: relative;
    background-image: url(download.jpg);
}
.companyname
{
    width:800px;
    height:200px;
    display: inline-block;
    background-color: #ee82ee;
    position: relative;
    bottom:100px;
    left:80px;
}
.heading
{
}
.firstpart
{
    width:350px;
    height:650px;
    border: 4px black solid;
    border-radius:20px ;
    display: inline-block;
    position: relative;
    left:50px;
    top:20px;
}
.secondpart
{
    width:800px;
    height:650px;
    border: 4px black dotted;
    display: inline-block;
    position: relative;
   border-radius: 20px;
   left:460px;
   bottom: 110px;

}
.introduction
{
    position: relative;
    left:25px;
    text-align: center;
}
.paragraph
{
    position: relative;
    left:2px;
    text-align: center;
}
.address
{
    position:relative;
    left:5px;

}
.services
 {
  position:relative;
  left:110px;
  top:55px;   
 }
 .aboutus
 {
 position:relative;
 left:101px;
 top:220px;
 }
 .contactus
 {
  position:relative;
  left:92px;
  top:410px;   
 }
.first{
width:600px;
height:200px;
}
.picture
{
    position:relative;
    left:760px;
    bottom:165px;
}
.aboutuspage
{
    position:relative;
    bottom:20px;
    left:10px;
}