.container
{
    width:800px;
    height:650px;
    border:2px black solid;
    background-color: #000000;
}
.div1
{
width:750px;
height:100px;
border:2px black solid;
position: relative;
left:23px;
top:20px;
background-color: #f5f5f5;
}
.div2
{
}
.div3
{
}
.div4
{
    width:750px;
    height:100px;
    border:2px black solid;
    position: relative;
    left:21px;
    bottom:343px;  
    background-color: #f5f5f5; 
}
.block1
{
    width:169px;
    height:100px;
    border:2px black solid;
    position: relative;
    left:23px;
    top:40px;
    background-color: #f5f5f5;
}
.block2
{
    width:169px;
    height:100px;
    border:2px black solid;
    position: relative;
    left:215px;
    bottom:64px;
    background-color: #f5f5f5;
}
.block3
{
    width:169px;
    height:100px;
    border:2px black solid;
    position: relative;
    left:406px;
    bottom:167px;
    background-color: #f5f5f5;
}
.block4
{
    width:169px;
    height:100px;
    border:2px black solid;
    position: relative;
    left:602px;
    bottom:270px;
    background-color: #f5f5f5;
}
.block5
{
width:360px;
height:235px;
border:2px black solid;
display: inline-block;  
position:relative;
left:23px;
bottom:248px;
background-color: #f5f5f5;
}
.block6
{

}
.part1
{
    width:169px;
    height:100px;
    border:2px black solid;
    display: inline-block;  
    position: relative;
    left:406px;
    bottom:490px;
    background-color: #f5f5f5;
}
.part2
{
    width:169px;
    height:100px;
    border:2px black solid;   
    display: inline-block;  
    position: relative;
    left:228px;
    bottom:360px;
    background-color: #f5f5f5;
}
.part3
{
    width:169px;
    height:100px;
    border:2px black solid;
    display: inline-block;  
    position: relative;
    left:248px;
    bottom:491px;
    background-color: #f5f5f5;
}
.part4
{
    width:169px;
    height:100px;
    border:2px black solid;
    display: inline-block;
    position: relative;
    left:70px;
    bottom:360px;
    background-color: #f5f5f5;  
}
