*
{
align-self: center;
}
.container
{
    width:1000px;
    height:1000px;
    background-color: rgb(255, 71, 194);
    align-self: center;
    border:3px black solid;
    
}
.inside
{
    position: relative;
    display: inline-block;
    color:blue;
    align-self: center;
}
.heading2
{
 color: rgb(133, 4, 4);   
}
.picture
{
    position: relative;
    left:10px;
}