*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container {
    Position:relative;
    width:1000px;
    height:600px;
    margin:0;
    border:1px black solid;
    display:inline-block;
}
.aside{
    position:relative;
    width:30%;
    height:100%;
    background-color :rgba(31, 16, 168, 0.623);
    display:inline-block;
    float:left;
}
.articles{
    position:relative;
    width:70%;
    height:100%;
    background-color:#b37de6;
    display: inline-block;
    float:left;
}
.article{
    position:relative;
    width:99.7%;
    height:44.8%;
    background-color: rgb(248, 231, 234);
    display: inline-block;

}

.link1
{
    display: inline-block;
    float: left;
}
.link2
{
    display: inline-block;
    float:left;
}



