*{
    font-family: Arial;
    box-sizing: border-box;
}
.container
{
    width:1200px;
    height:1200px;
    border: 2px black solid;
}
.header
{
width:1200px;
height:50px;
display: inline-block;
border-bottom:2px black solid ;
}
.BlackPanther
{
    display: inline-block;
    position: relative;
    left:170px;
    bottom:62px;
}
.navbar
{
    display: inline-block;
    position: relative;
    bottom:22px;
    left:370px;
}

li{
    border:2px black solid;
    background: #fde1e1;
    display: inline-block;
    position: relative;
    top:10px;
    right:10px;
}
.login
{
    display: inline-block;
    position: relative;
    left:440px;
    bottom:43px;
}
.contentblock
{
    width:99.8%;
    height:890px;
    border-bottom:2px black solid;
}

.headingblock
{
    width:84%;
    height:215px;
    border:2px black solid;
    text-align: center;
    position: relative;
    top:20px;
    left:90px;

}
.providerblock
{
    width:84%;
    height:580px;
    border:4px black solid;
    position: relative;
    top:93px;
    right:2px;
    display: inline-block;

}
.firstpart
{
    width:65%;
    height:540px;
    display: inline-block;
    position: absolute;
    left:20px;

}
.secondpart
{
    width:35%;
    height:580px;
    border-left:2px black solid;
    display: inline-block;
    position: relative;
    float:right;
}
.head1
{
    position: relative;
    right:95px;
}
.block1
{ 
    width:40%;
    display:inline-block;
    position:relative;
    right:10px;
}
.block2
{
    width:40%;
    height:199px;
    display:inline-block;
    position:relative;
    top:210px;
    right:226px;

}
.block3 
{
 width:40%;
 height:199px;
display:inline-block;
position:relative;
bottom:220px;
left:235px;
}
.block4
{
    width:40%;
    height:199px;
    display:inline-block;
    position:relative;
    top:7px;
    left:9px;
}
.picture
{
    display:inline-block;
}
h4{
    display: inline-block;
    text-align:left;
}
h5{
    position: relative;
    bottom:38px;
    left:82px;
    text-align: left;
}
.Contactus
{
margin-top:10px;
}
.linkblock
{
    
    position:relative;
    top:154px;
    right:329px;
}
a{
    display: block;
    margin:10px;
    
}
.footer
{
    display: inline-block;
    position:relative;
    right:388px;
    bottom:488px;
}
.Aboutus
{
position: relative;
text-align: center;
top:15px;
right:450px;
}
.markets
{
    position: relative;
    right:158px;
    text-align:center;
    bottom:147px;
}
.platforms
{
    position: relative;
    text-align: center;
    bottom:305px;
    left:140px;
}
.contactus
{
    position: relative;
    display: inline-block;
    bottom:471px;
    text-align: center;
    left:485px

}
.default
{
    display: inline-block;
}
.Globalsite
{
    position: relative;
    left:863px;
    bottom:70px
}

.paragraph
{
    text-align:center;
    position: relative;
    bottom:5px;
    left:10px;
}
.link3
{
    position: relative;
    bottom:40px;
    left:243px;
}
p{
text-align: left;
position:relative;
left:35px;
}