*
{
    box-sizing: border-box;
}
.container
{
    width:1000px;
    height:400px;
    background-color: #87ceeb;
}
.firstblock
{
    width:760px;
    height:342px;
    background-color: #8df89b;
    display: inline-block;
    position: relative;
    bottom:1px
}
.part1
{
    width:720px;
    height:145px;
    background-color: whitesmoke;
    position: relative;
    left:13px;
}
.part2
{
    width:720px;
    height:145px;
    background-color: whitesmoke;
    position: relative;
    left:13px;
    bottom:13px;
}
.lastblock
{
    width:236px;
    height:342px;
    display: inline-block;
    position: relative;
    right:2px;
    background-color: #d8939f;
}