
.container
{
width:700px;
height:800px;
border: 2px solid #0000ff;
color: #ffc0cb;
background-color: black;
}
header
{
    text-align: center;
    border: 4px solid #ff0000;
}
div
{
    margin-top:35px;
    position: relative;
    left:50px;

}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

   .submit
  {
      position: relative;
      top:100px;
      left:500px;
  }
  .select
  {
      position: relative;
      bottom: 200px;
      left:30px;
  }