*
{
    align-self: center;
}
.container
{
    position: relative;
    width: 900px;
    height:1000px;
    margin: auto;
    border:10px coral solid;
    align-self: center;
    background-color: cornsilk;
    display: inline-block;
}
.picture{
    position: relative;
    display: inline-block;
    float:right;
    position: absolute;
    top:21px;
    right:32px;
}
.block1
{
    position: relative;
    display: inline-block;
    width:100%;
    height:7%;
}
.block2
{
    width: 100%;
    height:7%;
    display: inline-block;
    position: relative;
}
.block3
{
    width: 100%;
    height:11%;
    display:inline-block;
}
.block4
{
    width: 100%;
    height:17%;
}
.Name
{
    display:inline-block;
}
.Inside
{
    display: inline-block;
}
.hr1
{
    color:red;
}